{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Social Lib</title>
    <link rel="stylesheet" href="{% static 'marketplace/css/marketplace.css' %}">
    <script src="{% static 'marketplace/js/marketplace.js' %}"></script>
</head>

<body>
<section class="main_layout">
    {% include 'components/left_menu.html' %}

    <section class="content_layout">
        {% include 'components/header.html' %}

        <main class="main_content_layout">
            <div class="main_content_container">
                <div class="main_upper_block">
                    <div class="quote_block">
                        <p class="quote_title">Цитаты дня</p>
                        <div class="slides">
                            <input type="radio" name="r" id="r1" checked>
                            <input type="radio" name="r" id="r2">
                            <input type="radio" name="r" id="r3">
                            <input type="radio" name="r" id="r4">
                            {% for quote in quotes %}
                             <div class="slide s{{ forloop.counter }}">
                                <div class="slide_info">
                                    <p class="slide_info_main_text">
                                        <q>{{ quote.text }}</q>
                                    </p>
                                    <p class="slide_info_author_name">
                                        – {{ quote.author }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <div class="navigation">
                            <label for="r1" class="bar"></label>
                            <label for="r2" class="bar"></label>
                            <label for="r3" class="bar"></label>
                            <label for="r4" class="bar"></label>
                        </div>
                    </div>
                    <div class="new_books_info_block">
                        <p class="new_books_block_title">Новинки</p>
                        <div class="new_books_block">
                            {% for book in new_books %}
                                <div class="book_cover_only_block" title="{{ book.full_name }}">
                                <a href="{% url 'book' book.pk %}">
                                <img class="book_small_cover" src="{{ book.img.url }}">
                                </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="main_books_content_block">
                    <h1 class="main_books_content_block_title">Добро пожаловать</h1>
                    <p class="main_books_content_block_secondary_title">Подборка для Вас</p>

                    <div class="books_catalog_block">
                        {% for book in new_books %}
                            <a href="{% url 'book' book.pk %}">
                                <div class="book_cover_only_block book_cover_with_info_block" title="{{ book.full_name }}">
                                    <img class="book_small_cover" src="{{ book.img.url }}" alt="">
                                    <p class="catalog_book_cover_name">{{ book.short_name }}</p>
                                    <p class="catalog_book_cover_author_name">{{ book.author.first.name }}</p>
                                    <p class="catalog_book_cover_author_name">Язык: {{ book.get_language_display }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </main>
    </section>
</section>


</body>
</html>

