{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Social Lib</title>
    <link rel="stylesheet" href="{% static 'marketplace/css/marketplace.css' %}">
    <script src="{% static 'marketplace/js/marketplace.js' %}"></script>
</head>

<body>
<section class="main_layout">
    {% include 'components/left_menu.html' %}

    <section class="content_layout">
        {% include 'components/header.html' %}

        <main class="main_content_layout">
            <div class="main_content_container">
                <div class="main_books_content_block">
                    <div class="main_upper_block">
                        <div style="width: 100%;">
                            <h1 class="category_books_page_content_block_title">Категория: {{ name_category.name }}</h1>
                            <p class="main_books_content_block_secondary_title">Подборка для Вас</p>
                        </div>
                        <div class="to_set_right_bottom_position_block">
                            <nav class="header_menu sort_settings_menu header_block_shadow">
                                <ul class="header_menu_list sort_settings_menu">
                                    <li class="header_menu_dropdown">
                                        <button class="header_menu_dropbtn sort_settings_dropbtn">
                                            <svg class="header_menu_icon sort_settings_menu_icon">
                                                <use height="22px" width="22px" fill="#F76B56"
                                                     href="{% static 'marketplace/img/icons.svg' %}#sort_arrow_up"></use>
                                            </svg>
                                            Сортировать<i class="arrow down"></i></button>
                                        <form action="{% url 'category_books' name_category.id %}" method="get">
                                            <div class="header_menu_dropdown_content_block">
                                                <div class="header_menu_dropdown_content sort_settings_dropdown_content">
                                                    <a class="header_menu_item" href="?sort=full_name">Название</a>
                                                    <a class="header_menu_item" href="?sort=author">Автор</a>
                                                    <a class="header_menu_item" href="?sort=year">Год издания</a>
                                                    <a class="header_menu_item" href="?sort=price">Цена</a>
                                                </div>
                                            </div>
                                        </form>


                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="books_catalog_block">
                        {% for books in books_list%}
                        <a href="{% url 'book' books.id %}">
                        <div class="book_cover_only_block book_cover_with_info_block"
                             title="{{ books.full_name }}">
                            <img class="book_small_cover"
                                 src="{{ books.img.url }}"
                                 alt="">
                            <p class="catalog_book_cover_name">{{ books.short_name }}</p>
                            <p class="catalog_book_cover_author_name">{{ books.author.first.name }}</p>
                            <p class="catalog_book_cover_author_name">Язык: {{ books.get_language_display }}</p>
                        </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </section>
</section>


</body>
</html>

