{% load static %}


<header class="header">
    <div class="header_info_block">
        <div class="header_search_block">
            <div class="search_block header_block_shadow">
                <nav class="header_menu header_search_menu">
                    <ul class="header_menu_list">
                        <li class="header_menu_dropdown header_search_menu_dropdown">
                            <button class="header_menu_dropbtn header_search_menu_dropbtn">Все<i
                                    class="arrow down"></i></button>
                            <div class="header_menu_dropdown_content_block header_search_menu_dropdown_content">
                                <div class="header_menu_dropdown_content">
                                    <a class="header_menu_item header_menu_item_active">Все</a>
                                    <a class="header_menu_item">Название</a>
                                    <a class="header_menu_item ">Жанр</a>
                                    <a class="header_menu_item">Автор</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input class="search_text_input" type="text"
                           placeholder="Поиск">
                    <button type="submit" class="search_submit">
                        <svg class="header_search_submit_icon">
                            <use height="17px" width="16px" fill="#F76B56"
                                 href="{% static 'marketplace/img/icons.svg' %}#search"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>

        <div class="header_catalog_menu_block">
            <nav class="header_menu header_block_shadow">
                <ul class="header_menu_list">
                    <li class="header_menu_dropdown">
                        <button class="header_menu_dropbtn">
                            <svg class="header_menu_icon">
                                <use height="17px" width="16px" fill="#F76B56"
                                     href="{% static 'marketplace/img/icons.svg' %}#menu"></use>
                            </svg>
                            Каталог<i class="arrow down"></i></button>

                        <div class="header_menu_dropdown_content_block">
                            <div class="header_menu_dropdown_content header_catalog_menu_dropdown_content">
                                <div class="content_list">
                                    <a class="header_menu_item header_catalog_menu_item">Детективы</a>
                                    <a class="header_menu_item header_catalog_menu_item">Боевики, остросюжетная литература</a>
                                    <a class="header_menu_item header_catalog_menu_item">Любовные романы</a>
                                    <a class="header_menu_item header_catalog_menu_item">Фантастика</a>
                                    <a class="header_menu_item header_catalog_menu_item">Фэнтези</a>
                                    <a class="header_menu_item header_catalog_menu_item">Приключения</a>
                                    <a class="header_menu_item header_catalog_menu_item">Ужасы/мистика</a>
                                    <a class="header_menu_item header_catalog_menu_item">Юмористическая литература</a>
                                    <a class="header_menu_item header_catalog_menu_item">Young adult</a>
                                    <a class="header_menu_item header_catalog_menu_item">Классика жанра</a>
                                    <a class="header_menu_item header_catalog_menu_item">Легкая проза</a>
                                    <a class="header_menu_item header_catalog_menu_item">Комиксы/манга</a>
                                    <a class="header_menu_item header_catalog_menu_item">Биографии и мемуары</a>
                                    <a class="header_menu_item header_catalog_menu_item">Современная проза</a>
                                    <a class="header_menu_item header_catalog_menu_item">Об истории серьезно</a>
                                    <a class="header_menu_item header_catalog_menu_item">Классическая литература</a>
                                    <a class="header_menu_item header_catalog_menu_item">Пьесы, драматургия</a>
                                    <a class="header_menu_item header_catalog_menu_item">Cтихи, поэзия</a>
                                </div>
                                <div class="content_list">
                                    <a class="header_menu_item header_catalog_menu_item">Исторические детективы</a>
                                    <a class="header_menu_item header_catalog_menu_item">Исторические приключения</a>
                                    <a class="header_menu_item header_catalog_menu_item">Историческая фантастика</a>
                                    <a class="header_menu_item header_catalog_menu_item">Биографии и мемуары</a>
                                    <a class="header_menu_item header_catalog_menu_item">Книги о путешествиях</a>
                                    <a class="header_menu_item header_catalog_menu_item">Книги о войне</a>
                                    <a class="header_menu_item header_catalog_menu_item">Морские приключения</a>
                                    <a class="header_menu_item header_catalog_menu_item">Исторические любовные романы</a>
                                    <a class="header_menu_item header_catalog_menu_item">Красота</a>
                                    <a class="header_menu_item header_catalog_menu_item">Спорт</a>
                                    <a class="header_menu_item header_catalog_menu_item">Медицина и здоровье</a>
                                </div>
                            </div>

                        </div>

                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="header_info_block">
        <div class="header_lang_select_block ">
            <nav class="header_menu header_block_shadow">
                <ul class="header_menu_list">
                    <li class="header_menu_dropdown">
                        <button class="header_menu_dropbtn">
                            <svg class="header_menu_icon">
                                <use height="17px" width="16px" fill="#F76B56"
                                     href="{% static 'marketplace/img/icons.svg' %}#language"></use>
                            </svg>
                            Русский<i class="arrow down"></i></button>
                        <div class="header_menu_dropdown_content_block">
                            <div class="header_menu_dropdown_content">
                                <a class="header_menu_item">O'zbek</a>
                                <a class="header_menu_item header_menu_item_active">Русский</a>
                                <a class="header_menu_item">English</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header_user_block header_block_shadow">
            <img class="user_header_avatar" src="{% static 'marketplace/img/avatar.jpg' %}" alt="">
            <nav class="header_menu header_avatar_menu">
                <ul class="header_menu_list">
                    <li class="header_menu_dropdown">
                        <button class="header_menu_dropbtn">Профиль<i class="arrow down"></i></button>
                        <div class="header_menu_dropdown_content_block">
                            <div class="header_menu_dropdown_content header_menu_account_dropdown_content">
                                <a class="header_menu_item">Мой аккаунт</a>
                                <a class="header_menu_item ">Моя полка</a>
                                <a class="header_menu_item ">Задать вопрос</a>
                                <a class="header_menu_item header_menu_item_red_text">Выйти</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</header>