{% load static %}

<aside class="side_menu">
    <div class="menu_list">
        <div class="menu_logo_container">
            <a class="menu_logo_link" href="#">
                <img class="menu_logo" src="{% static 'marketplace/img/main_logo.png' %}" alt="Logo">
            </a>
        </div>
        <div class="secondary_menu_list">
            <div class="menu_children">
                <nav class="menu_list">
                    <dl>
                        <dt class="menu_item">
                            <a class="menu_item_link menu_item_link_active" href="#">
                                <svg class="menu_item_icon menu_item_icon_active">
                                    <use href="{% static 'marketplace/img/icons.svg' %}#home"></use>
                                </svg>
                                Дом</a>
                        </dt>
                        <dt class="menu_item">
                            <a class="menu_item_link" href="#">
                                <svg class="menu_item_icon">
                                    <use href="{% static 'marketplace/img/icons.svg' %}#bookshelf"></use>
                                </svg>
                                Моя полка</a>
                        </dt>
                        <dt class="menu_item">
                            <a class="menu_item_link" href="#">
                                <svg class="menu_item_icon" style="padding: 0 5px 0 4px">
                                    <use height="17px" width="17px"
                                         href="{% static 'marketplace/img/icons.svg' %}#arm_gift"></use>
                                </svg>
                                Делать добро</a>
                        </dt>
                        <dt class="menu_item menu_item_invisible">
                            <a class="menu_item_link" href="#">О нас</a>
                        </dt>
                        <dt class="menu_item menu_item_invisible">
                            <a class="menu_item_link" href="#">Поддержка</a>
                        </dt>
                        <dt class="menu_item menu_item_invisible">
                            <a class="menu_item_link" href="#">Условия пользования</a>
                        </dt>
                    </dl>
                </nav>
            </div>
            <div class="addition_menu_container">
                <dl style="bottom: 10px ">
                    <dt class="menu_item">
                        <a class="additional_menu_item_link" href="#">О нас</a>
                    </dt>
                    <dt class="menu_item">
                        <a class="additional_menu_item_link" href="#">Поддержка</a>
                    </dt>
                    <dt class="menu_item">
                        <a class="additional_menu_item_link" href="#">Условия пользования</a>
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</aside>