{% load static %}
{% load i18n %}

<aside class="side_menu">
    <div class="menu_list">
        <div class="menu_logo_container">
            <a class="menu_logo_link" href="{% url 'home' %}">
                <img class="menu_logo" src="{% static 'marketplace/img/main_logo.png' %}" alt="Logo">
            </a>
        </div>
        <div class="secondary_menu_list">
            <div class="menu_children">
                <nav class="menu_list">
                    <dl>
                        <dt class="menu_item">
                            <a class="menu_item_link menu_item_link_active" href="{% url 'home' %}">
                                <svg class="menu_item_icon menu_item_icon_active">
                                    <use href="{% static 'marketplace/img/icons.svg' %}#home"></use>
                                </svg>
                                {% trans 'Дом' context 'Дом' %}</a>
                        </dt>
                        <dt class="menu_item">
                            {% if request.user.is_authenticated and not request.user.is_superuser %}

                            <a class="menu_item_link" href="{% url 'book_shelf' %}">
                                <svg class="menu_item_icon">
                                    <use href="{% static 'marketplace/img/icons.svg' %}#bookshelf"></use>
                                </svg>
                                {% trans 'Моя полка' context 'Моя полка' %}</a>
                            {% else %}
                            <a class="menu_item_link" href="{% url 'authorization' %}">
                                <svg class="menu_item_icon">
                                    <use href="{% static 'marketplace/img/icons.svg' %}#bookshelf"></use>
                                </svg>
                                {% trans 'Моя полка' context 'Моя полка' %}</a>
                            {% endif %}
                        </dt>
                        <dt class="menu_item">
                            <a class="menu_item_link" href="{% url 'book_donate' %}">
                                <svg class="menu_item_icon" style="padding: 0 5px 0 4px">
                                    <use height="17px" width="17px"
                                         href="{% static 'marketplace/img/icons.svg' %}#arm_gift"></use>
                                </svg>
                                {% trans 'Делать добро' context 'Делать добро' %}</a>
                        </dt>
                        <dt class="menu_item menu_item_invisible">
                            <a class="menu_item_link" href="{% url 'about_us' %}">{% trans 'О нас' context 'О нас' %}</a>
                        </dt>
                        <dt class="menu_item menu_item_invisible">
                            <a class="menu_item_link" href="{% url 'tech_support' %}">{% trans 'Поддержка' context 'Поддержка' %}</a>
                        </dt>
                        <dt class="menu_item menu_item_invisible">
                            <a class="menu_item_link" href="{% url 'terms_of_use' %}">{% trans 'Условия пользования' context 'Условия пользования' %}</a>
                        </dt>
                    </dl>
                </nav>
            </div>
            <div class="addition_menu_container">
                <dl style="bottom: 10px ">
                    <dt class="menu_item">
                        <a class="additional_menu_item_link" href="{% url 'about_us' %}">{% trans 'О нас' context 'О нас' %}</a>
                    </dt>
                    <dt class="menu_item">
                        <a class="additional_menu_item_link" href="{% url 'tech_support' %}">{% trans 'Поддержка' context 'Поддержка' %}</a>
                    </dt>
                    <dt class="menu_item">
                        <a class="additional_menu_item_link" href="{% url 'terms_of_use' %}">{% trans 'Условия пользования' context 'Условия пользования' %}</a>
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</aside>