{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Social Lib</title>
    <link rel="stylesheet" href="{% static 'marketplace/css/marketplace.css' %}">
    <script src="{% static 'marketplace/js/marketplace.js' %}"></script>
</head>

<body>
<section class="main_layout">
    {% include 'components/left_menu.html' %}

    <section class="content_layout">
        {% include 'components/header.html' %}

        <main class="main_content_layout">
            <div class="main_content_container">
                <div class="main_books_content_block">
                    <div class="main_upper_block">
                        <div style="width: 100%;">
                            <h1 class="category_books_page_content_block_title">{% trans 'Моя ' %}<span class="orange_text">{% trans 'книжная полка' %}</span>
                            </h1>
                        </div>
                    </div>

                    <div class="margin_top_30px"></div>

                    <input class="radio_input" type="radio" name="tabs" id="tab_1" checked/>
                    <label class="radio_label" for="tab_1">{% trans 'Избранные' %}</label>
                    <input class="radio_input" type="radio" name="tabs" id="tab_2"/>
                    <label class="radio_label" for="tab_2">{% trans 'В ожидании...' %}</label>
                    <input class="radio_input" type="radio" name="tabs" id="tab_3"/>
                    <label class="radio_label" for="tab_3">{% trans 'Я читаю' %}</label>
                    <input class="radio_input" type="radio" name="tabs" id="tab_4"/>
                    <label class="radio_label" for="tab_4">{% trans 'Прочтенные' %}</label>
                    <div class="margin_bottom_30px"></div>


                    <div class="tab _1_tab">

                        <div class="shelf_books_block">
                            {% for book in stat_1_books %}
                            <div class="shelf_book_info_block">
                                <div class="shelf_book_info_container">
                                    <a class="book_link" href="{% url 'book' book.book.id %}"
                                       title="{{ book.book.full_name }}">
                                        <img class="book_small_cover" src="{{ book.book.img.url }}" alt="">
                                        <p class="catalog_book_cover_name">{{ book.book.short_name }}</p>
                                        <p class="catalog_book_cover_author_name">{{ book.book.author.first.name }}</p>
                                        <p class="catalog_book_cover_author_name">{% trans 'Язык:' %} {{ book.book.get_language_display }}</p>
                                    </a>
                                </div>
                                <div class="shelf_book_info_container_2" >
                                    <p class="search_book_table_book_author_str grey_paragraph">{% trans 'Вы можете взять эту
                                        книгу сроком на 30 дней (Бесплатно)' %}</p>
                                    <div class="column_flex">
                                        <form action="{% url 'order_book' book.book.id  %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="order_id" value="None">
                                            <button class="rent_book_button" type="submit">{% trans 'Заказать' %}</button>
                                        </form>
                                        <form action="{% url 'del_favorites' book.book.id  %}" method="POST">
                                            {% csrf_token %}
                                            <button class="return_book_button" type="submit">{% trans 'Удалить' %}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="tab _2_tab">
                        <div class="shelf_books_block">
                            {% for book in stat_2_books %}
                            <div class="shelf_book_info_block background_lightgreen background_lightgreen_hover">
                                <div class="shelf_book_info_container">
                                    <a class="book_link" href="{% url 'book' book.book.id %}"
                                       title="{{ book.book.full_name  }}">
                                        <img class="book_small_cover"
                                             src="{{ book.book.img.url }}"
                                             alt="">
                                        <p class="catalog_book_cover_name">{{ book.book.short_name  }}</p>
                                        <p class="catalog_book_cover_author_name">{{ book.book.author.first.name }}</p>
                                        <p class="catalog_book_cover_author_name">{% trans 'Язык:' %} {{ book.book.get_language_display }}</p>
                                    </a>
                                </div>
                                <div class="shelf_book_info_container_2">
                                    <p class="search_book_table_book_author_str">{% trans 'Ожидайте звонка с подтверждением ' %}<span class="underlined_text">{% trans 'отправки' %}</span>{% trans ' вам вашей ' %}<span
                                                class="underlined_text">{% trans 'книги' %}</span>.</p>
                                    <div class="column_flex">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% for book in stat_4_books %}
                            <div class="shelf_book_info_block background_lightred background_lightred_hover">
                                <div class="shelf_book_info_container">
                                    <a class="book_link" href="{% url 'book' book.book.id %}"
                                       title="{{ book.book.full_name  }}">
                                        <img class="book_small_cover"
                                             src="{{ book.book.img.url }}"
                                             alt="">
                                        <p class="catalog_book_cover_name">{{ book.book.short_name  }}</p>
                                        <p class="catalog_book_cover_author_name">{{ book.book.author.first.name }}</p>
                                        <p class="catalog_book_cover_author_name">{% trans 'Язык:' %} {{ book.book.get_language_display }}</p>
                                    </a>
                                </div>
                                <div class="shelf_book_info_container_2">
                                    <p class="search_book_table_book_author_str">{% trans 'Ожидайте звонка с подтверждением регистрации ' %}<span class="underlined_text">{% trans 'возврата вашей книги' %}</span>.</p>
                                    <div class="column_flex">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="tab _3_tab">
                        <div class="shelf_books_block">
                            {% for book in stat_3_books %}
                            <div class="shelf_book_info_block">
                                <div class="shelf_book_info_container">
                                    <a class="book_link" href="{% url 'book' book.book.id %}"
                                       title="{{ book.book.full_name  }}">
                                        <img class="book_small_cover"
                                             src="{{ book.book.img.url }}"
                                             alt="">
                                        <p class="catalog_book_cover_name">{{ book.book.short_name  }}</p>
                                        <p class="catalog_book_cover_author_name">{{ book.book.author.first.name }}</p>
                                        <p class="catalog_book_cover_author_name">{% trans 'Язык:' %} {{ book.book.get_language_display }}</p>
                                    </a>
                                </div>
                                <div class="shelf_book_info_container_2">
                                    <div>
                                        <div>
                                            <p class="search_book_table_book_author_str bold_paragraph font_13pt">{% trans 'Дата получения:' %}</p>
                                            <p class="search_book_table_book_author_str catalog_book_cover_author_name font_12pt">
                                               {{ book.date_sending.date  }}</p>
                                        </div>
                                        <div>
                                            <p class="search_book_table_book_author_str bold_paragraph font_13pt">{% trans 'Дата возврата:' %}</p>
                                            <p class="search_book_table_book_author_str catalog_book_cover_author_name font_12pt">
                                                {{ book.date_deadline.date  }}</p>
                                        </div>
                                    </div>
                                    <div class="column_flex">
                                        <form method="POST" action="{% url 'return_to_book' book.id %}">
                                            {% csrf_token %}
                                            <button class="return_book_button" type="submit">{% trans 'Оформить возврат' %}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="tab _4_tab">
                        <div class="shelf_books_block">
                            {% for book in stat_5_books %}
                            <div class="shelf_book_info_block"
                                 title="{{ book.book.full_name  }}">
                                <div class="shelf_book_info_container">
                                    <a class="book_link" href="{% url 'book' book.book.id %}">
                                        <img class="book_small_cover"
                                             src="{{ book.book.img.url }}"
                                             alt="">
                                        <p class="catalog_book_cover_name">{{ book.book.short_name  }}</p>
                                        <p class="catalog_book_cover_author_name">{{ book.book.author.first.name }}</p>
                                        <p class="catalog_book_cover_author_name">{% trans 'Язык:' %} {{ book.book.get_language_display }}</p>
                                    </a>
                                </div>
                                <div class="shelf_book_info_container_2">
                                    <div>
                                        <div>
                                            <p class="search_book_table_book_author_str bold_paragraph font_13pt">{% trans 'Дата получения:' %}</p>
                                            <p class="search_book_table_book_author_str catalog_book_cover_author_name font_12pt">
                                                {{ book.date_sending.date  }}</p>
                                        </div>
                                        <div>
                                            <p class="search_book_table_book_author_str bold_paragraph font_13pt">{% trans 'Дата возврата:' %}</p>
                                            <p class="search_book_table_book_author_str catalog_book_cover_author_name font_12pt">{{ book.date_return.date  }}</p>
                                        </div>
                                    </div>
                                    <div class="column_flex">

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </section>
</section>


</body>
</html>

