{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Social Lib</title>
    <link rel="stylesheet" href="{% static 'marketplace/css/marketplace.css' %}">
    <script src="{% static 'marketplace/js/marketplace.js' %}"></script>
</head>

<body>
<section class="main_layout">
    {% include 'components/left_menu.html' %}

    <section class="content_layout">
        {% include 'components/header.html' %}

        <main class="main_content_layout">
            <div class="main_content_container">
                <div class="main_upper_block" >
                    <div class="big_book_cover_block">
                        <img class="big_book_cover_img"
                             src="{% static 'books/covers/Android._Программирование_для_профессионалов.__PDFDrive_.png' %}"
                             alt="">
                    </div>
                    <div class="main_book_info_block">
                        <p class="book_info_book_name">Android. Программирование для настоящих профессионалов</p>
                        <div class="book_info_paragraph_block">
                            <p class="book_info_paragraph">Авторы:</p>
                            <a class="book_info_author_link" href="">Б.Филлипс</a>
                            <p class="book_info_paragraph">,</p>
                            <a class="book_info_author_link" href="">К.Стюарт</a>
                            <p class="book_info_paragraph">,</p>
                            <a class="book_info_author_link" href="">К.Марсикано</a>
                        </div>
                        <div class="book_info_paragraph_block">
                            <p class="book_info_paragraph">Год издания:</p>
                            <p class="book_info_paragraph">2023</p>
                            <p class="book_info_paragraph grey_paragraph margin_left_20px">3-е издание</p>
                        </div>
                        <div class="book_info_paragraph_block">
                            <p class="book_info_paragraph">Язык: Русский</p>

                        </div>

                        <div class="book_info_paragraph_block" style="margin-top:30px">
                            <p class="book_info_paragraph bold_paragraph">Сейчас читают:</p>
                            <p class="book_info_paragraph bold_paragraph margin_right_30px">12</p>
                            <p class="book_info_paragraph bold_paragraph">Уже прочли:</p>
                            <p class="book_info_paragraph bold_paragraph margin_right_30px">37</p>
                            <p class="book_info_paragraph bold_paragraph">Всего книг:</p>
                            <p class="book_info_paragraph bold_paragraph">58</p>
                        </div>
                        <p class="book_info_paragraph bold_paragraph" style="margin-top:30px">Варианты доступа:</p>
                        <div class="book_info_paragraph_block">
                            <div class="book_info_paragraph_block" style="margin-top:15px">
                                <svg class="header_menu_icon">
                                    <use height="20px" width="20px" fill="#42BB4E"
                                         href="{% static 'marketplace/img/icons.svg' %}#checked_in_circle"></use>
                                </svg>
                                <p class="book_info_paragraph bold_paragraph">Бумажная книга</p>
                                <svg class="header_menu_icon" style="margin-left:25px">
                                    <use height="22px" width="22px" fill="#4D4D4D"
                                         href="{% static 'marketplace/img/icons.svg' %}#cross_in_circle"></use>
                                </svg>
                                <p class="book_info_paragraph bold_paragraph">Электронная книга</p>
                                <svg class="header_menu_icon" style="margin-left:25px">
                                    <use height="22px" width="22px" fill="#4D4D4D"
                                         href="{% static 'marketplace/img/icons.svg' %}#cross_in_circle"></use>
                                </svg>
                                <p class="book_info_paragraph bold_paragraph">Аудиокнига</p>
                            </div>
                        </div>

                        <div class="book_info_paragraph_block" style="margin-top:30px">
                            <a class="borrow_button_link" href="">ЗАКАЗАТЬ</a>
                            <a class="put_on_shelf_button_link" href="">
                                <svg width="30px" height="30px" fill="white" style="margin-right: 10px">
                                    <use href="{% static 'marketplace/img/icons.svg' %}#bookshelf"></use>
                                </svg>
                                Кинуть на Полку</a>
                        </div>


                    </div>
                </div>
                <div class="main_description_block">
                    <h1 class="book_info_secondary_title"><span class="orange_text">Аннотация</span> к книге:</h1>
                    <p class="text_paragraph">Чтобы протестировать класс, написанный на PHP, с использованием фреймворка PHPUnit, необходимо
                        создать тестовый класс, расширяющий базовый класс PHPUnit_Framework_TestCase. Затем создать в
                        этом классе публичные методы, начинающиеся со слова test (если создать метод, который будет
                        называться по-другому, он не будет автоматически вызван при прогоне тестов), и поместить в них
                        код, выполняющий действия с объектами тестируемого класса и проверяющий результат. На этом можно
                        закончить и скормить полученный класс phpunit, который, в свою очередь, последовательно вызовет
                        все тестовые методы и любезно предоставит отчет об их работе. Однако в большинстве случаев в
                        каждом из тестовых методов будет повторяющийся код, подготавливающий систему для работы с
                        тестируемым объектом. Для того, чтобы избежать дублирования кода, в классе
                        PHPUnit_Framework_TestCase созданы защищенные методы setUp и tearDown, имеющие пустую
                        реализацию. Эти методы вызываются перед и после запуска очередного тестового метода
                        соответственно и служат для подготовки системы к выполнению тестовых действий и очистки ее после
                        завершения каждого теста. В тестовом классе, расширяющем PHPUnit_Framework_TestCase, можно
                        переопределить эти методы и поместить повторяющийся ранее в каждом тестовом методе код в них. В
                        результате последовательность вызова методов при прогонке тестов будет следующая.
                    </p>
                </div>
                <div class="main_description_block">
                    <h1 class="book_info_secondary_title"><span class="orange_text">Ключевые</span> слова:</h1>
                    <form method="POST">
                        <div class="book_info_keywords_block">
                            <input class="keyword_text" type="submit" name="searched" value="Android,">
                            <input class="keyword_text" type="submit" name="searched" value="Kotlin,">
                            <input class="keyword_text" type="submit" name="searched" value="Для профессионалов,">
                            <input class="keyword_text" type="submit" name="searched" value="Программирование,">
                            <input class="keyword_text" type="submit" name="searched" value="Создание приложений,">
                            <input class="keyword_text" type="submit" name="searched" value="Телефоны">
                        </div>
                    </form>
                </div>
                <div class="main_description_block" style="margin-top:50px;">
                    <h1 class="book_info_secondary_title"><span class="orange_text">Еще книги</span> от Авторов:</h1>
                    <div class="new_books_info_block book_info_page_more_books_info_block">
                        <div class="new_books_block book_info_more_author_books_block">
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Angular._Сборник_рецептов__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/ASP.NET._Сборник_рецептов__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Django_2.1._Практика_создания_веб-сайтов_на_Python__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Django__Практика_создания_Web-сайтов_на_Python__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Hello_World_Занимательное_программирование__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Бизнес_в_удовольствие.png' %}">
                            </div>

                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/ASP.NET._Сборник_рецептов__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Django_2.1._Практика_создания_веб-сайтов_на_Python__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Django__Практика_создания_Web-сайтов_на_Python__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Hello_World_Занимательное_программирование__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Бизнес_в_удовольствие.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_description_block" style="margin-top:20px;">
                    <h1 class="book_info_secondary_title"><span class="orange_text">Похожие</span> Книги:</h1>
                    <div class="new_books_info_block book_info_page_more_books_info_block">
                        <div class="new_books_block book_info_more_author_books_block">
                            <div class="book_cover_only_block">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Angular._Сборник_рецептов__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/ASP.NET._Сборник_рецептов__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Django_2.1._Практика_создания_веб-сайтов_на_Python__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Django__Практика_создания_Web-сайтов_на_Python__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Hello_World_Занимательное_программирование__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Бизнес_в_удовольствие.png' %}">
                            </div>

                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/ASP.NET._Сборник_рецептов__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Django_2.1._Практика_создания_веб-сайтов_на_Python__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Django__Практика_создания_Web-сайтов_на_Python__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Hello_World_Занимательное_программирование__PDFDrive_.png' %}">
                            </div>
                            <div class="book_cover_only_block" title="Android. Программирование для профессионалов. Стивен Кинг. 2020">
                                <img class="book_small_cover"
                                     src="{% static 'books/covers/Бизнес_в_удовольствие.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
</section>


</body>
</html>

