{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Social Lib</title>
    <link rel="stylesheet" href="{% static 'marketplace/css/marketplace.css' %}">
    <script src="{% static 'marketplace/js/marketplace.js' %}"></script>
</head>

<body>
<section class="main_layout">
    {% include 'components/left_menu.html' %}

    <section class="content_layout">
        {% include 'components/header.html' %}

        <main class="main_content_layout">
            <div class="main_content_container">
                <div class="main_upper_block" >
                    <div class="big_book_cover_block">
                        <img class="big_book_cover_img"
                             src="{{ book_info.img.url }}"
                             alt="">
                    </div>
                    <div class="main_book_info_block">
                        <p class="book_info_book_name">{{ book_info.short_name }}</p>
                        <div class="book_info_paragraph_block">
                            <p class="book_info_paragraph">{% trans 'Авторы:' %}</p>
                            {% for author in book_info.author.all %}
                                <form method="POST" action="{% url 'book_search' %}" class="book_info_author_form">
                                    {% csrf_token %}
                                    <input type="hidden" name="search_value" value="{{ author.name }}">
                                    <a class="book_info_author_link" href="#" onclick="this.parentNode.submit(); return false;">
                                        {{ author.name }}
                                    </a>
                                </form>
                                {% if not forloop.last %}<p class="book_info_paragraph">,</p>{% endif %}
                            {% endfor %}
                        </div>
                        <div class="book_info_paragraph_block">
                            <p class="book_info_paragraph">{% trans 'Год издания:' %}</p>
                            <p class="book_info_paragraph">{{ book_info.year }}</p>
                            {% if book_info.publications%}
                            <p class="book_info_paragraph grey_paragraph margin_left_20px">{{ book_info.publications }}{% trans '-е издание' %}</p>
                            {% endif %}
                        </div>
                        <div class="book_info_paragraph_block">
                            <p class="book_info_paragraph">{% trans 'Язык:' %} {{ book_info.get_language_display }}</p>

                        </div>

                        <div class="book_info_paragraph_block" style="margin-top:30px">
                            <p class="book_info_paragraph bold_paragraph">{% trans 'Сейчас читают:' %}</p>
                            <p class="book_info_paragraph bold_paragraph margin_right_30px">{{ books_currently_reading }}</p>
                            <p class="book_info_paragraph bold_paragraph">{% trans 'Уже прочли:' %}</p>
                            <p class="book_info_paragraph bold_paragraph margin_right_30px">{{ books_already_read }}</p>
                            <p class="book_info_paragraph bold_paragraph">{% trans 'Всего книг:' %}</p>
                            <p class="book_info_paragraph bold_paragraph">{{ total_books }}</p>
                        </div>
                        <p class="book_info_paragraph bold_paragraph" style="margin-top:30px">{% trans 'Варианты доступа:' %}</p>
                        <div class="book_info_paragraph_block">
                            <div class="book_info_paragraph_block" style="margin-top:15px">
                                {% if book_info.is_paper %}
                                <svg class="header_menu_icon">
                                    <use height="20px" width="20px" fill="#42BB4E"
                                         href="{% static 'marketplace/img/icons.svg' %}#checked_in_circle"></use>
                                </svg>
                                {% else %}
                                <svg class="header_menu_icon" style="margin-left:25px">
                                    <use height="22px" width="22px" fill="#4D4D4D"
                                         href="{% static 'marketplace/img/icons.svg' %}#cross_in_circle"></use>
                                </svg>
                                {% endif %}
                                <p class="book_info_paragraph bold_paragraph">Бумажная книга</p>

                                {% if book_info.is_eBook %}
                                <svg class="header_menu_icon">
                                    <use height="20px" width="20px" fill="#42BB4E"
                                         href="{% static 'marketplace/img/icons.svg' %}#checked_in_circle"></use>
                                </svg>
                                {% else %}
                                <svg class="header_menu_icon" style="margin-left:25px">
                                    <use height="22px" width="22px" fill="#4D4D4D"
                                         href="{% static 'marketplace/img/icons.svg' %}#cross_in_circle"></use>
                                </svg>
                                {% endif %}
                                <p class="book_info_paragraph bold_paragraph">Электронная книга</p>

                                {% if book_info.is_audio %}
                                <svg class="header_menu_icon">
                                    <use height="20px" width="20px" fill="#42BB4E"
                                         href="{% static 'marketplace/img/icons.svg' %}#checked_in_circle"></use>
                                </svg>
                                {% else %}
                                <svg class="header_menu_icon" style="margin-left:25px">
                                    <use height="22px" width="22px" fill="#4D4D4D"
                                         href="{% static 'marketplace/img/icons.svg' %}#cross_in_circle"></use>
                                </svg>
                                {% endif %}
                                <p class="book_info_paragraph bold_paragraph">Аудиокнига</p>
                            </div>
                        </div>

                        <div class="book_info_paragraph_block" style="margin-top:30px">
                            <a class="borrow_button_link" href="{% url 'order_book' book_info.id  %}">{% trans 'ЗАКАЗАТЬ' %}</a>
                            <a class="put_on_shelf_button_link" href="{% url 'favorites' book_info.id %}">
                                <svg width="30px" height="30px" fill="white" style="margin-right: 10px">
                                    <use href="{% static 'marketplace/img/icons.svg' %}#bookshelf"></use>
                                </svg>
                                {% trans 'Кинуть на Полку' %}</a>
                        </div>


                    </div>
                </div>
                <div class="main_description_block">
                    <h1 class="book_info_secondary_title"><span class="orange_text">{% trans 'Аннотация' %}</span>{% trans ' к книге:' %}</h1>
                    <p class="text_paragraph">{{ book_info.caption }}</p>
                </div>
                <div class="main_description_block">
                    <h1 class="book_info_secondary_title"><span class="orange_text">{% trans 'Ключевые' %}</span> {% trans 'слова:' %}</h1>
                    <form method="POST" action="{% url 'book_search' %}">
                        {% csrf_token %}
                        <div class="book_info_keywords_block">
                            {% for keyword in book_info.keyword.all %}
                            <input class="keyword_text" type="submit" name="search_value" value="{{ keyword.name }}{% if not forloop.last %},{% endif %}">
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="main_description_block" style="margin-top:50px;">
                    <h1 class="book_info_secondary_title"><span class="orange_text">{% trans 'Еще книги' %}</span> {% trans 'от Авторов:' %}</h1>
                    <div class="new_books_info_block book_info_page_more_books_info_block">
                        <div class="new_books_block book_info_more_author_books_block">
                            {% for books in author_books%}
                            <a href="{% url 'book' books.pk %}">
                            <div class="book_cover_only_block" title="{{ books.full_name }}">
                                <img class="book_small_cover"
                                     src="{{ books.img.url }}">
                            </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="main_description_block" style="margin-top:20px;">
                    <h1 class="book_info_secondary_title"><span class="orange_text">{% trans 'Похожие' %}</span>{% trans ' Книги:' %}</h1>
                    <div class="new_books_info_block book_info_page_more_books_info_block">
                        <div class="new_books_block book_info_more_author_books_block">
                            {% for books in similar_books%}
                            <a href="{% url 'book' books.pk %}">
                            <div class="book_cover_only_block" title="{{ books.full_name }}">
                                <img class="book_small_cover"
                                     src="{{ books.img.url }}">
                            </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
</section>


</body>
</html>

