{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Social Lib</title>
    <link rel="stylesheet" href="{% static 'marketplace/css/marketplace.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'marketplace/js/marketplace.js' %}"></script>
</head>

<body>
<section class="main_layout">
    {% include 'components/left_menu.html' %}

    <section class="content_layout">
        {% include 'components/header.html' %}

        <main class="main_content_layout">
            <div class="main_content_container">

                <div class="profile_white_block margin_0">
                    <div class="main_upper_block padding_left_30px -justify_content_center -flex_direction_column margin_top_30px">
                        <h1 class="category_books_page_content_block_title">{% trans 'Заявка на ' context 'Заявка на возврат книги отправлена на рассмотрение 1' %}<span
                                class="orange_text">{% trans 'возврат книги отправлена' context 'Заявка на возврат книги отправлена на рассмотрение 2' %}</span>{% trans ' на рассмотрение' context 'Заявка на возврат книги отправлена на рассмотрение 3' %}</h1>
                        <p class="main_books_content_block_secondary_title">{% trans 'Ожидайте звонка для подтверждения возврат' context 'Ожидайте звонка для подтверждения возврат' %}</p>
                    </div>
                    <div class="main_upper_block -justify_content_center">
                        <img width="450px" src="{% static 'marketplace/img/order_success.svg' %}" alt=""/>
                    </div>

                    <div class="bottom_button_block -justify_content_right padding_top_10px">
                        <a class="orange_link_btn" href="{% url 'home' %}">{% trans 'Вернуться на главную страницу' context 'Вернуться на главную страницу' %}</a>
                    </div>
                </div>


            </div>
        </main>
    </section>
</section>


</body>
</html>

