{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Social Lib</title>
    <link rel="stylesheet" href="{% static 'marketplace/css/marketplace.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'marketplace/js/marketplace.js' %}"></script>
</head>

<body>
<section class="main_layout">
    {% include 'components/left_menu.html' %}

    <section class="content_layout">
        {% include 'components/header.html' %}

        <main class="main_content_layout">
            <div class="main_content_container">

                <div class="profile_white_block margin_0">
                    <div class="main_upper_block margin_top_30px margin_left_40px">
                        <h1 class="category_books_page_content_block_title">Условия пользования <span
                                class="orange_text">WooW сервисом</span></h1>
                    </div>
                    <div class="main_upper_block margin_top_30px -justify_content_center -flex_direction_column margin_left_40px"
                         style="line-height: 35px;">
                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">Оферта
                            представляет собой правила предоставления услуг Сервисом раздачи книг WooW, размещенным на
                            сайтах с доменными именами <a href="https://woow.uz" class="orange_text" target="_blank">WooW.uz</a>,
                            для неограниченного количества пользователей.
                        </p>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">1. Назначение и
                            область применения Оферты.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>1.1. Оферта Сервиса WooW (далее по тексту – Оферта) устанавливает требования и содержит
                                описание:
                            </dt>
                            <dd>1.1.1. Порядка предоставления услуг Сервиса раздачи книг WooW.</dd>
                            <dd>1.1.2. Разграничения ответственности за использование и предоставление услуг Сервисом
                                WooW.
                            </dd>
                            <dd>1.1.3. Мер по обеспечению безопасности работы Сервиса WooW с неограниченным кругом лиц,
                                а
                                также пользователями Сервиса.
                            </dd>
                            <dt>1.2. Местом оказания услуги Сервиса Пользователю является место запуска (сайт), на
                                котором
                                происходит учет и обработка данных и операций Пользователей.
                            </dt>
                            <dt> 1.3. Перед тем, как воспользоваться услугами Сервиса WooW, Пользователь обязан
                                ознакомиться
                                в полном объеме с условиями настоящих Оферты и Пользовательского соглашения и принять
                                их, то
                                есть совершить акцепт посредством совершения ключевого действия – запуска Сервиса и
                                осуществления первоначального пополнения депозита.
                            </dt>
                            <dt> 1.4. Использование услуг Сервиса возможно, только если Пользователь принимает все
                                условия
                                настоящей Оферты.
                            </dt>
                            <dt> 1.5. Действующая версия Оферты расположена для публичного доступа на сайте <a
                                    href="https://woow.uz" class="orange_text bold_paragraph"
                                    target="_blank">WooW.uz</a>.
                                Администрация Сервиса вправе в любое время в одностороннем порядке изменять настоящую
                                Оферту. Такие изменения вступают в силу по истечении 3 (трех) календарных дней с момента
                                размещения новой версии Оферты на сайтах Сервиса, если иной порядок вступления не
                                предусмотрен специально в новой версии Оферты. При несогласии Пользователя с внесенными
                                изменениями он обязан отказаться от доступа к сайту Сервиса и прекратить использование
                                материалов и услуг Сервиса, направив соответствующее письмо на службу поддержки Сервиса
                                в мессенджере Телеграмм <a class="orange_text bold_paragraph"
                                                           href="https://t.me/WooW_support" target="_blank">@WooW_support</a>.
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph"> 2. Термины и
                            определения.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>2.1. Сайт - сайты с доменными именами «woow.uz».
                            </dt>

                            <dt> 2.2. Пользователь — любое физическое лицо, использующее функциональные возможности
                                Сервиса
                                и
                                достигшее возраста полной дееспособности в соответствии с законодательством страны
                                своего
                                гражданства.
                            </dt>
                            <dt>2.3. Сервис – веб-сайт для раздачи книг с доменным именем <a href="https://woow.uz"
                                                                                             class="orange_text bold_paragraph"
                                                                                             target="_blank">WooW.uz</a>.
                            </dt>
                            <dt>2.4. Услуги Сервиса — функционал Сервиса с возможностями для Пользователя, а также иные
                                услуги, информация о которых размещена на страницах <a
                                        class="orange_text bold_paragraph" href="{% url 'about_us' %}" target="_blank">О нас</a> на
                                сайте Сервиса.
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">3. Режим работы
                            Сервиса.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>3.1. Штатный режим работы:
                            </dt>
                            <dd>3.1.1. В данном режиме работы запросы Пользователей обрабатываются в течение реального
                                времени Сервисом, кроме времени осуществления работ согласно регламенту технических
                                работ
                                Сервиса или сервера.
                            </dd>
                            <dd> 3.1.2. Поддержка Пользователей ведется службой поддержки сайта в мессенджере, а также
                                по
                                другим каналам связи способами, указанными Сервисом.
                            </dd>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">4. Правила
                            пользования Сервисом WooW.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt> 4.1. Сервис предназначен для использования исключительно в личных целях. Пользователь
                                соглашается с тем, что не будет использовать какой-либо иной аккаунт, кроме своего, а
                                также
                                не будет пытаться получить несанкционированный доступ к аккаунтам других пользователей
                                либо
                                к инфраструктуре Сервиса.
                            </dt>
                            <dt> 4.2. Администрация Сервиса может в любое время и по своему собственному усмотрению
                                отказать
                                Пользователю в возможности получить платные услуги, заблокировать его или приостановить
                                любую операцию до окончания рассмотрения конфликтной или спорной ситуации.
                            </dt>
                            <dt>4.3 Пользователь соглашается с тем, что будет возвращать полученные им книги из сервиса
                                в
                                установленные сервисом сроки, указанные при заказе книги.
                            </dt>
                            <dt> 4.4 Администрация Сервиса может по своему усмотрению отказать Пользователю в возврате
                                средств депозита Пользователя при невозврате или порче полученной Пользователем книги,
                                принадлежащей Сервису.
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph"> 5. Порядок
                            оказания услуг Сервисом.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>5.1. Заказ услуг Сервиса осуществляется Пользователем путем совершения действий по
                                покупке
                                через ресурсы Сервиса.
                            </dt>
                            <dt> 5.2. Воспользовавшись услугами Сервиса, Пользователь подтверждает, что ознакомлен со
                                всей
                                юридической документацией Сервиса.
                            </dt>
                            <dt>5.3. Сервис не принимает электронные деньги в качестве платежа, если данные средства не
                                принадлежат Пользователю.
                            </dt>
                            <dt>5.4. Путем регистрации на сайте Сервиса и принятия всех условий, Пользователь принимает
                                все
                                изложенные условия.
                            </dt>
                        </dl>


                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">6. Правила
                            пользования депозитом.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt> 6.1. После пополнения депозита, Пользователь имеет право вывести свои средства
                                обратно
                                на
                                банковскую карту, отправив заявку на возврат средств через сайт или обратившись в
                                техническую поддержку Сервиса.
                            </dt>
                            <dd>
                                6.1.1 При снятии средств с депозита пользователя, Пользователю будут отправлены все
                                средства
                                с депозита Пользователя за исключением комиссии за перевод средств, в размере 1% от
                                переводимых средств.
                            </dd>
                            <dd>
                                6.1.2. После снятия средств с депозита Пользователя, счетчик депозита Пользователя
                                обнуляется.
                            </dd>
                            <dd>
                                6.1.3 Возврат средств с депозита Пользователя осуществляется только на банковскую
                                карту
                                с
                                именем держателя банковской карты, с которой был пополнен счет депозита
                                первоначально
                                после
                                обнуления счетчика депозита.
                            </dd>
                            <dt>
                                6.2 Уровень доступа пользователя к книгам зависит от количества денежных средств на
                                депозите
                                Пользователя.
                            </dt>
                            <dt>
                                6.3 Соотношение денежных средств на депозите Пользователя к уровню доступа к книгам
                                определяется по следующим тарифам:
                            </dt>
                            <dd>
                                6.3.1. При наличии денежных средств в размере от 0 сум до 100 000 сум.<br>
                                При наличии денежных средств в размере от 0сум до 100 000 сум, пользователь получает
                                возможность заказывать книги 0-го уровня.
                            </dd>
                            <dd>
                                6.3.2. При наличии денежных средств в размере от 101 000 сум до 200 000 сум.<br>
                                При наличии денежных средств в размере от 101 000 сум до 200 000 сум, пользователь
                                получает
                                возможность заказывать книги 1-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.3. При наличии денежных средств в размере от 201 000 сум до 300 000 сум.<br>
                                При наличии денежных средств в размере от 201 000 сум до 300 000 сум, пользователь
                                получает
                                возможность заказывать книги 2-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.4. При наличии денежных средств в размере от 301 000 сум до 400 000 сум.<br>
                                При наличии денежных средств в размере от 301 000 сум до 400 000 сум, пользователь
                                получает
                                возможность заказывать книги 3-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.5. При наличии денежных средств в размере от 401 000 сум до 500 000 сум.<br>
                                При наличии денежных средств в размере от 401 000 сум до 500 000 сум, пользователь
                                получает
                                возможность заказывать книги 4-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.6. При наличии денежных средств в размере от 501 000 сум до 600 000 сум.<br>
                                При наличии денежных средств в размере от 501 000 сум до 600 000 сум, пользователь
                                получает
                                возможность заказывать книги 5-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.7. При наличии денежных средств в размере от 601 000 сум до 700 000 сум.<br>
                                При наличии денежных средств в размере от 601 000 сум до 700 000 сум, пользователь
                                получает
                                возможность заказывать книги 6-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.8. При наличии денежных средств в размере от 701 000 сум до 800 000 сум.<br>
                                При наличии денежных средств в размере от 701 000 сум до 800 000 сум, пользователь
                                получает
                                возможность заказывать книги 7-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.9. При наличии денежных средств в размере от 801 000 сум до 900 000 сум.<br>
                                При наличии денежных средств в размере от 801 000 сум до 900 000 сум, пользователь
                                получает
                                возможность заказывать книги 8-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.10. При наличии денежных средств в размере от 901 000 сум до 1 000 000 сум.<br>
                                При наличии денежных средств в размере от 901 000 сум до 1 000 000 сум, пользователь
                                получает возможность заказывать книги 9-го уровня.
                            </dd>
                            <dd>
                                6.3.11. При наличии денежных средств в размере от 1 001 000 сум до 1 100 000
                                сум.<br>
                                При наличии денежных средств в размере от 1 001 000 сум до 1 100 000 сум,
                                пользователь
                                получает возможность заказывать книги 10-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.12. При наличии денежных средств в размере от 1 101 000 сум до 1 200 000
                                сум.<br>
                                При наличии денежных средств в размере от 1 101 000 сум до 1 200 000 сум,
                                пользователь
                                получает возможность заказывать книги 11-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.13. При наличии денежных средств в размере от 1 201 000 сум до 1 300 000
                                сум.<br>
                                При наличии денежных средств в размере от 1 201 000 сум до 1 300 000 сум,
                                пользователь
                                получает возможность заказывать книги 12-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.14. При наличии денежных средств в размере от 1 301 000 сум до 1 400 000
                                сум.<br>
                                При наличии денежных средств в размере от 1 301 000 сум до 1 400 000 сум,
                                пользователь
                                получает возможность заказывать книги 13-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.15. При наличии денежных средств в размере от 1 401 000 сум до 1 500 000
                                сум.<br>
                                При наличии денежных средств в размере от 1 401 000 сум до 1 500 000 сум,
                                пользователь
                                получает возможность заказывать книги 14-го уровня включительно.
                            </dd>
                            <dd>
                                6.3.16. При наличии денежных средств в размере от 1 501 000 сум.<br>
                                При наличии денежных средств в размере от 1 501 000 сум, пользователь получает
                                возможность
                                заказывать книги 15-го уровня включительно.
                            </dd>
                            <dt>
                                6.4. Тарифы на оказание услуг определяются Сервисом и публикуются на сайте Сервиса.
                                Администрация Сервиса вправе менять тарифы без дополнительного уведомления
                                Пользователей.
                            </dt>
                            <dt>
                                6.5. В случае отправки денежных средств для пополнения депозита Пользователя,
                                депозит
                                пользователя будет пополнен автоматически в течении одних суток (24 часа). Если
                                система
                                не
                                получит денежные средства, депозит не будет пополнен автоматически.
                            </dt>
                            <dt>
                                6.6. Если депозит не пополнен автоматически, после успешного подтверждения перевода и
                                окончания срока ожидания (в течении 24 часов), Пользователь обязан связаться со
                                службой
                                поддержки Сервиса.
                            </dt>
                            <dt>
                                6.7. Если Пользователь случайно отправил больший платеж, то Пользователь обязан
                                связаться со
                                службой поддержки Сервиса.
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph"> 7.
                            Ответственность.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt> 7.1. Сервис не несет ответственности перед Пользователем и иными лицами за потери,
                                ущерб и
                                вред, вызванные противоправными действиями третьих лиц.
                            </dt>
                            <dt> 7.2. Сервис не несет ответственности за любые переводы, которые были осуществлены с
                                ошибкой
                                или за любые попытки осуществления ошибочного перевода.
                            </dt>
                            <dt> 7.3. Сервис презюмирует добросовестность и легальность владения, пользования и
                                распоряжения
                                Пользователем всех материалов и иных вещей, предоставляемых при обращении на сайт
                                или
                                ресурсы Сервиса или при осуществлении взаимодействия с администрацией Сервиса.
                            </dt>
                            <dt> 7.4. Сервис и Администрация Сервиса уважает законы, правила и нормы всех стран. В
                                случае
                                нарушения прав каких-либо лиц Администрация готова к пресечению противоправных
                                действий
                                Пользователей.
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph"> 8.
                            Форс-мажор.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>8.1. Пользователь или Сервис не несут ответственности друг перед другом за
                                невыполнение
                                обязательств, связанных с оказанием Сервисом услуг, вызванное обстоятельствами,
                                возникшими
                                помимо воли и желания сторон, которые нельзя было предвидеть или избежать, включая
                                объявленную или фактическую войну, гражданские волнения, эпидемии, землетрясения,
                                наводнения, пожары и другие стихийные бедствия, действия органов власти и прочие
                                непреодолимые обстоятельства и не могут заявлять ни о каких убытках или ущербе,
                                возникших
                                из-за таких обстоятельств.
                            </dt>
                            <dt> 8.2. Сторона, которая не исполняет свое обязательство вследствие действия
                                непреодолимой
                                силы, должна известить другую Сторону о препятствии и его влиянии на исполнение
                                обязательств
                                без промедления, но не позднее 3 (трех) календарных дней с момента наступления
                                указанных
                                обстоятельств.
                            </dt>
                            <dt>8.3. Сторона, не известившая другую Сторону о невозможности исполнения своих
                                обязательств по
                                настоящему договору, теряет право ссылаться на такую невозможность.
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph"> 9.
                            Заключительные положения.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>9.1. Информация о Пользователе и о его операциях не хранится на сервере сайта
                                Сервиса.
                                По
                                запросу Пользователя доступ к аккаунту может быть ограничен либо удален.
                            </dt>
                            <dt> 9.2. Срок ответа Сервиса на запросы Пользователя составляет до пяти рабочих дней с
                                момента
                                получения соответствующего запроса Пользователя.
                            </dt>
                            <dt>9.3. Условия настоящих Оферты согласовываются с Пользователем при регистрации.
                                Согласие
                                с
                                Офертой, опубликованной в электронной форме, является действительным акцептом
                                полного
                                содержания настоящих Оферты.
                            </dt>
                            <dt>9.4. Информация, размещенная на сайте Сервиса, включая все графические изображения,
                                текстовую информацию, коды программ и т.д. защищена национальным и международным
                                законодательством об авторских правах и смежных с ними. Несанкционированное
                                копирование
                                материалов не допускается и влечет за собой полное возмещение причиненных Сервису
                                убытков.
                            </dt>
                            <dt>9.5. Все права защищены. Несанкционированное копирование Оферты запрещено.
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph"> 10. Контактные
                            данные.</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt> 10.1. Пользователь может связаться со специалистами и Администрацией Сервиса в
                                рабочее
                                время
                                следующими способами:
                            </dt>
                            <dd>
                                10.1.1. В онлайн-чате Телеграмм – <a class="orange_text bold_paragraph"
                                                                     href="https://t.me/WooW_support" target="_blank">@WooW_support</a>.
                            </dd>
                            <dd>
                                10.1.2. Путем направления письма на адрес электронной почты: <a
                                    class="orange_text bold_paragraph" href="mailto:arlimuniversal@gmail.com">arlimuniversal@gmail.com</a>
                            </dd>

                        </dl>

                    </div>
                </div>

            </div>
        </main>
    </section>
</section>


</body>
</html>

