{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Social Lib</title>
    <link rel="stylesheet" href="{% static 'marketplace/css/marketplace.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'marketplace/js/marketplace.js' %}"></script>
</head>

<body>
<section class="main_layout">
    {% include 'components/left_menu.html' %}

    <section class="content_layout">
        {% include 'components/header.html' %}

        <main class="main_content_layout">
            <div class="main_content_container">

                <div class="profile_white_block margin_0">
                    <div class="main_upper_block margin_top_30px margin_left_40px">
                        <h1 class="category_books_page_content_block_title">{% trans "Условия пользования" context "Условия пользования" %} <span
                                class="orange_text">{% trans "WooW сервисом" context "WooW сервисом" %}</span></h1>
                    </div>
                    <div class="main_upper_block margin_top_30px -justify_content_center -flex_direction_column margin_left_40px"
                         style="line-height: 35px;">
                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">{% trans "Оферта представляет собой правила предоставления услуг Сервисом раздачи книг WooW, размещенным на сайтах с доменными именами" context "Оферта представляет собой правила...." %}
                            <a href="{% url 'home' %}" class="orange_text" target="_blank">WooW.uz</a>,
                            {% trans "для неограниченного количества пользователей." context "для неограниченного количества пользователей." %}
                        </p>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">{% trans "1. Назначение и область применения Оферты." context "1. Назначение и область" %}</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans "1.1. Оферта Сервиса WooW (далее по тексту – Оферта) устанавливает требования и содержит описание:" context "1.1" %}
                            </dt>
                            <dd>{% trans "1.1.1. Порядка предоставления услуг Сервиса раздачи книг WooW." context "1.1.1" %}</dd>
                            <dd>{% trans "1.1.2. Разграничения ответственности за использование и предоставление услуг Сервисом WooW." context "1.1.2" %}
                            </dd>
                            <dd>{% trans "1.1.3. Мер по обеспечению безопасности работы Сервиса WooW с неограниченным кругом лиц, а также пользователями Сервиса." context "1.1.3" %}
                            </dd>
                            <dt>{% trans "1.2. Местом оказания услуги Сервиса Пользователю является место запуска (сайт), на котором происходит учет и обработка данных и операций Пользователей." context "1.2" %}
                            </dt>
                            <dt>{% trans "1.3. Перед тем, как воспользоваться услугами Сервиса WooW, Пользователь обязан ознакомиться в полном объеме с условиями настоящих Оферты и Пользовательского соглашения и принять их, то есть совершить акцепт посредством совершения ключевого действия – запуска Сервиса и осуществления первоначального пополнения депозита." context "1.3" %}
                            </dt>
                            <dt>{% trans "1.4. Использование услуг Сервиса возможно, только если Пользователь принимает все условия настоящей Оферты." context "1.4" %}
                            </dt>
                            <dt>{% trans "1.5. Действующая версия Оферты расположена для публичного доступа на сайте " context "1.5." %}<a
                                    href="{% url 'home' %}" class="orange_text bold_paragraph"
                                    target="_blank">WooW.uz</a>.
                                {% trans "Администрация Сервиса вправе в любое время в одностороннем порядке изменять настоящую Оферту. Такие изменения вступают в силу по истечении 3 (трех) календарных дней с момента размещения новой версии Оферты на сайтах Сервиса, если иной порядок вступления не предусмотрен специально в новой версии Оферты. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к сайту Сервиса и прекратить использование материалов и услуг Сервиса, направив соответствующее письмо на службу поддержки Сервиса в мессенджере Телеграмм" context "Администрация Сервиса вправе в любое время в одностороннем порядке..." %}
                                <a class="orange_text bold_paragraph"
                                                           href="https://t.me/WooW_support" target="_blank">@WooW_support</a>.
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">{% trans "2. Термины и определения." context "2. Термины и определения." %} </p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans "2.1. Сайт - сайты с доменными именами «woow.uz»." context "2.1." %}
                            </dt>

                            <dt>{% trans "2.2. Пользователь — любое физическое лицо, использующее функциональные возможности Сервиса и достигшее возраста полной дееспособности в соответствии с законодательством страны своего гражданства." context "2.2." %}
                            </dt>
                            <dt>{% trans "2.3. Сервис – веб-сайт для раздачи книг с доменным именем " context "2.3." %}<a href="{% url 'home' %}"
                                                                                             class="orange_text bold_paragraph"
                                                                                             target="_blank">WooW.uz</a>.
                            </dt>
                            <dt>{% trans "2.4. Услуги Сервиса — функционал Сервиса с возможностями для Пользователя, а также иные услуги, информация о которых размещена на страницах" context "2.4." %} <a
                                        class="orange_text bold_paragraph" href="{% url 'about_us' %}" target="_blank">{% trans "О нас" context "О нас на сайте Сервиса." %}</a>
                                {% trans "на сайте Сервиса." context "на сайте Сервиса." %}
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">{% trans "3. Режим работы Сервиса." context "3. Режим работы Сервиса." %}</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans "3.1. Штатный режим работы:" context "3.1." %}
                            </dt>
                            <dd>{% trans "3.1.1. В данном режиме работы запросы Пользователей обрабатываются в течение реального времени Сервисом, кроме времени осуществления работ согласно регламенту технических работ Сервиса или сервера." context "3.1.1." %}
                            </dd>
                            <dd>{% trans "3.1.2. Поддержка Пользователей ведется службой поддержки сайта в мессенджере, а также по другим каналам связи способами, указанными Сервисом." context "3.1.2" %}
                            </dd>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">{% trans "4. Правила пользования Сервисом WooW." context "4. Правила пользования Сервисом WooW" %}</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans "4.1. Сервис предназначен для использования исключительно в личных целях. Пользователь соглашается с тем, что не будет использовать какой-либо иной аккаунт, кроме своего, а также не будет пытаться получить несанкционированный доступ к аккаунтам других пользователей либо к инфраструктуре Сервиса." context "4.1." %}
                            </dt>
                            <dt>{% trans "4.2. Администрация Сервиса может в любое время и по своему собственному усмотрению отказать Пользователю в возможности получить платные услуги, заблокировать его или приостановить любую операцию до окончания рассмотрения конфликтной или спорной ситуации." context "4.2." %}
                            </dt>
                            <dt>{% trans "4.3 Пользователь соглашается с тем, что будет возвращать полученные им книги из сервиса в установленные сервисом сроки, указанные при заказе книги." context "4.3." %}
                            </dt>
                            <dt>{% trans "4.4 Администрация Сервиса может по своему усмотрению отказать Пользователю в возврате средств депозита Пользователя при невозврате или порче полученной Пользователем книги, принадлежащей Сервису." context "4.5." %}
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">{% trans "5. Порядок оказания услуг Сервисом." context "5. Порядок оказания услуг Сервисом" %}</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans "5.1. Заказ услуг Сервиса осуществляется Пользователем путем совершения действий по покупке через ресурсы Сервиса." context "5.1." %}
                            </dt>
                            <dt>{% trans "5.2. Воспользовавшись услугами Сервиса, Пользователь подтверждает, что ознакомлен со всей юридической документацией Сервиса." context "5.2." %}
                            </dt>
                            <dt>{% trans "5.3. Сервис не принимает электронные деньги в качестве платежа, если данные средства не принадлежат Пользователю." context "5.3." %}
                            </dt>
                            <dt>{% trans "5.4. Путем регистрации на сайте Сервиса и принятия всех условий, Пользователь принимает все изложенные условия." context "5.4." %}
                            </dt>
                        </dl>


                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">{% trans "6. Правила пользования депозитом." context "6. Правила пользования депозитом." %}</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans "6.1. После пополнения депозита, Пользователь имеет право вывести свои средства обратно на банковскую карту, отправив заявку на возврат средств через сайт или обратившись в техническую поддержку Сервиса." context "6.1." %}
                            </dt>
                            <dd>
                                {% trans "6.1.1 При снятии средств с депозита пользователя, Пользователю будут отправлены все средства с депозита Пользователя за исключением комиссии за перевод средств, в размере 1% от переводимых средств." context "6.1.1." %}
                            </dd>
                            <dd>
                                {% trans "6.1.2. После снятия средств с депозита Пользователя, счетчик депозита Пользователя обнуляется." context "6.1.2." %}
                            </dd>
                            <dd>
                                {% trans "6.1.3 Возврат средств с депозита Пользователя осуществляется только на банковскую карту с именем держателя банковской карты, с которой был пополнен счет депозита первоначально после обнуления счетчика депозита." context "6.1.3." %}
                            </dd>
                            <dt>
                                {% trans "6.2 Уровень доступа пользователя к книгам зависит от количества денежных средств на депозите Пользователя." context "6.2." %}
                            </dt>
                            <dt>
                                {% trans "6.3 Соотношение денежных средств на депозите Пользователя к уровню доступа к книгам определяется по следующим тарифам:" context "6.3." %}
                            </dt>
                            <dd>
                                {% trans "6.3.1. При наличии денежных средств в размере от 0 сум до 100 000 сум." context "6.3.1.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 0сум до 100 000 сум, пользователь получает возможность заказывать книги 0-го уровня." context "6.3.1.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.2. При наличии денежных средств в размере от 101 000 сум до 200 000 сум." context "6.3.2.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 101 000 сум до 200 000 сум, пользователь получает возможность заказывать книги 1-го уровня включительно." context "6.3.2.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.3. При наличии денежных средств в размере от 201 000 сум до 300 000 сум." context "6.3.3.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 201 000 сум до 300 000 сум, пользователь получает возможность заказывать книги 2-го уровня включительно." context "6.3.3.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.4. При наличии денежных средств в размере от 301 000 сум до 400 000 сум." context "6.3.4.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 301 000 сум до 400 000 сум, пользователь получает возможность заказывать книги 3-го уровня включительно." context "6.3.4.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.5. При наличии денежных средств в размере от 401 000 сум до 500 000 сум." context "6.3.5.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 401 000 сум до 500 000 сум, пользователь получает возможность заказывать книги 4-го уровня включительно." context "6.3.5.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.6. При наличии денежных средств в размере от 501 000 сум до 600 000 сум." context "6.3.6.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 501 000 сум до 600 000 сум, пользователь получает возможность заказывать книги 5-го уровня включительно." context "6.3.6.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.7. При наличии денежных средств в размере от 601 000 сум до 700 000 сум." context "6.3.7.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 601 000 сум до 700 000 сум, пользователь получает возможность заказывать книги 6-го уровня включительно." context "6.3.7.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.8. При наличии денежных средств в размере от 701 000 сум до 800 000 сум." context "6.3.8.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 701 000 сум до 800 000 сум, пользователь получает возможность заказывать книги 7-го уровня включительно." context "6.3.7.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.9. При наличии денежных средств в размере от 801 000 сум до 900 000 сум." context "6.3.9.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 801 000 сум до 900 000 сум, пользователь получает возможность заказывать книги 8-го уровня включительно." context "6.3.9.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.10. При наличии денежных средств в размере от 901 000 сум до 1 000 000 сум." context "6.3.10.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 901 000 сум до 1 000 000 сум, пользователь получает возможность заказывать книги 9-го уровня." context "6.3.10." %}
                            </dd>
                            <dd>
                                {% trans "6.3.11. При наличии денежных средств в размере от 1 001 000 сум до 1 100 000 сум." context "6.3.11.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 1 001 000 сум до 1 100 000 сум, пользователь получает возможность заказывать книги 10-го уровня включительно."  context "6.3.11.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.12. При наличии денежных средств в размере от 1 101 000 сум до 1 200 000 сум." context "6.3.12.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 1 101 000 сум до 1 200 000 сум, пользователь получает возможность заказывать книги 11-го уровня включительно." context "6.3.12.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.13. При наличии денежных средств в размере от 1 201 000 сум до 1 300 000 сум." context "6.3.13.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 1 201 000 сум до 1 300 000 сум, пользователь получает возможность заказывать книги 12-го уровня включительно." context "6.3.13.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.14. При наличии денежных средств в размере от 1 301 000 сум до 1 400 000 сум." context "6.3.14.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 1 301 000 сум до 1 400 000 сум, пользователь получает возможность заказывать книги 13-го уровня включительно." context "6.3.140.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.15. При наличии денежных средств в размере от 1 401 000 сум до 1 500 000 сум." context "6.3.15.0" %}<br>
                                {% trans "При наличии денежных средств в размере от 1 401 000 сум до 1 500 000 сум, пользователь получает возможность заказывать книги 14-го уровня включительно." context "6.3.15.1" %}
                            </dd>
                            <dd>
                                {% trans "6.3.16. При наличии денежных средств в размере от 1 501 000 сум." context "6.3.16." %}<br>
                                {% trans "При наличии денежных средств в размере от 1 501 000 сум, пользователь получает возможность заказывать книги 15-го уровня включительно." context "6.3.16.1" %}
                            </dd>
                            <dt>
                                {% trans "6.4. Тарифы на оказание услуг определяются Сервисом и публикуются на сайте Сервиса. Администрация Сервиса вправе менять тарифы без дополнительного уведомления Пользователей." context "6.4." %}
                            </dt>
                            <dt>
                                {% trans "6.5. В случае отправки денежных средств для пополнения депозита Пользователя, депозит пользователя будет пополнен автоматически в течении одних суток (24 часа). Если система не получит денежные средства, депозит не будет пополнен автоматически." context "6.5." %}
                            </dt>
                            <dt>
                                {% trans "6.6. Если депозит не пополнен автоматически, после успешного подтверждения перевода и окончания срока ожидания (в течении 24 часов), Пользователь обязан связаться со службой поддержки Сервиса." context "6.6." %}
                            </dt>
                            <dt>
                                {% trans "6.7. Если Пользователь случайно отправил больший платеж, то Пользователь обязан связаться со службой поддержки Сервиса." context "6.7." %}
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">
                            {% trans "7. Ответственность." context "7. Ответственность." %}</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans "7.1. Сервис не несет ответственности перед Пользователем и иными лицами за потери, ущерб и вред, вызванные противоправными действиями третьих лиц." context "7.1." %}
                            </dt>
                            <dt> {% trans "7.2. Сервис не несет ответственности за любые переводы, которые были осуществлены с ошибкой или за любые попытки осуществления ошибочного перевода." context "7.2." %}
                            </dt>
                            <dt> {% trans "7.3. Сервис презюмирует добросовестность и легальность владения, пользования и распоряжения Пользователем всех материалов и иных вещей, предоставляемых при обращении на сайт или ресурсы Сервиса или при осуществлении взаимодействия с администрацией Сервиса." context "7.3." %}
                            </dt>
                            <dt> {% trans "7.4. Сервис и Администрация Сервиса уважает законы, правила и нормы всех стран. В случае нарушения прав каких-либо лиц Администрация готова к пресечению противоправных действий Пользователей." context "7.4." %}
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">
                            {% trans "8. Форс-мажор." context "8. Форс-мажор" %}</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans "8.1. Пользователь или Сервис не несут ответственности друг перед другом за невыполнение обязательств, связанных с оказанием Сервисом услуг, вызванное обстоятельствами, возникшими помимо воли и желания сторон, которые нельзя было предвидеть или избежать, включая объявленную или фактическую войну, гражданские волнения, эпидемии, землетрясения, наводнения, пожары и другие стихийные бедствия, действия органов власти и прочие непреодолимые обстоятельства и не могут заявлять ни о каких убытках или ущербе, возникших из-за таких обстоятельств." context "8.1." %}
                            </dt>
                            <dt> {% trans "8.2. Сторона, которая не исполняет свое обязательство вследствие действия непреодолимой силы, должна известить другую Сторону о препятствии и его влиянии на исполнение обязательств без промедления, но не позднее 3 (трех) календарных дней с момента наступления указанных обстоятельств." context "8.2." %}
                            </dt>
                            <dt>{% trans "8.3. Сторона, не известившая другую Сторону о невозможности исполнения своих обязательств по настоящему договору, теряет право ссылаться на такую невозможность." context "8.3." %}
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">
                            {% trans "9. Заключительные положения." context "9. Заключительные положения." %}</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans "9.1. Информация о Пользователе и о его операциях не хранится на сервере сайта Сервиса. По запросу Пользователя доступ к аккаунту может быть ограничен либо удален." context "9.1." %}
                            </dt>
                            <dt>{% trans "9.2. Срок ответа Сервиса на запросы Пользователя составляет до пяти рабочих дней с момента получения соответствующего запроса Пользователя." context "9.2." %}
                            </dt>
                            <dt>{% trans "9.3. Условия настоящих Оферты согласовываются с Пользователем при регистрации. Согласие с Офертой, опубликованной в электронной форме, является действительным акцептом полного содержания настоящих Оферты." context "9.3." %}
                            </dt>
                            <dt>{% trans "9.4. Информация, размещенная на сайте Сервиса, включая все графические изображения, текстовую информацию, коды программ и т.д. защищена национальным и международным законодательством об авторских правах и смежных с ними. Несанкционированное копирование материалов не допускается и влечет за собой полное возмещение причиненных Сервису убытков." context "9.4." %}
                            </dt>
                            <dt>{% trans "9.5. Все права защищены. Несанкционированное копирование Оферты запрещено." context "9.5." %}
                            </dt>
                        </dl>

                        <p class="main_books_content_block_secondary_title font_15pt bold_paragraph">
                            {% trans "10. Контактные данные." context "10. Контактные данные." %}</p>
                        <dl class="main_books_content_block_secondary_title font_15pt">
                            <dt>{% trans " 10.1. Пользователь может связаться со специалистами и Администрацией Сервиса в рабочее время следующими способами:" context "10.1." %}
                            </dt>
                            <dd>
                                {% trans "10.1.1. В онлайн-чате Телеграмм – " context "10.1.1." %}<a class="orange_text bold_paragraph"
                                                                     href="https://t.me/WooW_support" target="_blank">@WooW_support</a>.
                            </dd>
                            <dd>
                                {% trans "10.1.2. Путем направления письма на адрес электронной почты:" context "10.1.2." %}<a
                                    class="orange_text bold_paragraph" href="mailto:arlimuniversal@gmail.com">arlimuniversal@gmail.com</a>
                            </dd>

                        </dl>

                    </div>
                </div>

            </div>
        </main>
    </section>
</section>


</body>
</html>

